<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="own.ACNHChat" android:versionCode="1">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="ACNH Chat" android:icon="@drawable/icon" />
</manifest>